/*
font-family: 'Abhaya Libre', serif;
font-family: 'Parisienne', cursive;
*/

:root {
    --time-animation: 0.6s;
    --transition: all 0.5s ease 0s;
}

@keyframes slide{
    10%{
      opacity: 1;
    }
    20%{
      opacity: 1;
    }
    30%{
      opacity: 0;
    }
    40%{
      transform: scale(1.3);
    }
}

@keyframes grain {
    0%,
    100% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-1%, -1%);
    }
    20% {
      transform: translate(1%, 1%);
    }
    30% {
      transform: translate(-2%, -2%);
    }
    40% {
      transform: translate(3%, 3%);
    }
    50% {
      transform: translate(-3%, -3%);
    }
    60% {
      transform: translate(4%, 4%);
    }
    70% {
      transform: translate(-4%, -4%);
    }
    80% {
      transform: translate(2%, 2%);
    }
    90% {
      transform: translate(-3%, -3%);
    }
  }

  @keyframes film-scratch {
    0%,
    100% {
      transform: translateX(0);
      opacity: 0.5;
    }
    10% {
      transform: translateX(-1%);
    }
    20% {
      transform: translateX(1%);
    }
    30% {
      transform: translateX(-2%);
      opacity: 0.75;
    }
    40% {
      transform: translateX(3%);
    }
    50% {
      transform: translateX(-3%);
      opacity: 0.5;
    }
    60% {
      transform: translateX(8%);
    }
    70% {
      transform: translateX(-3%);
    }
    80% {
      transform: translateX(10%);
      opacity: 0.25;
    }
    90% {
      transform: translateX(-2%);
    }
  }

  @keyframes effect-scratch {
    0% {
      transform: translateX(0);
      opacity: 0.75;
    }
    10% {
      transform: translateX(-1%);
    }
    20% {
      transform: translateX(1%);
    }
    30% {
      transform: translateX(-2%);
    }
    40% {
      transform: translateX(3%);
    }
    50% {
      transform: translateX(-3%);
      opacity: 0.5;
    }
    60% {
      transform: translateX(8%);
    }
    70% {
      transform: translateX(-3%);
    }
    80% {
      transform: translateX(10%);
      opacity: 0.25;
    }
    90% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(30%);
    }
  }

h1, h2, h3, h4, h5{
    padding: 0;
    margin: 0;
}

.site-counter{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.audio-container{
    position: fixed;
    bottom: 10px;
    right: 10px;

    #play {
        width:40px;
        height:40px;
        border-radius:50%;
        background-color:#664228;
        cursor:pointer;
        transition:1s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #play:hover {
        transition:1s;
    }

    #icon {
        height: 20px;
        width: 20px;
    }
}

.gallery-container{
    position: fixed;
    bottom: 60px;
    right: 10px;

    a{
        width:40px;
        height:40px;
        border-radius:50%;
        background-color:#664228;
        cursor:pointer;
        transition:1s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        svg{
            height: 20px;
            width: 20px;

            path,
            circle{
                stroke: #fff;
            }
        }
    }

    #gallery{
        display: none;
    }
}

body{
    background: url(../assets/images/bg_water_color.jpg) 50% 50% no-repeat transparent;
    background-size: cover;
    font-family: 'Abhaya Libre', serif;
    width: 100%;
    padding: 0;
    margin: 0;
    background-attachment: fixed;

    #page{
        width: 100%;
        position: relative;

        &:before{
            content: " ";
            display: block;
            background: url(../assets/images/floral_6.png) 0 0 no-repeat transparent;
            width: 814px;
            height: 653px;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 100;
            background-size: contain;
            transition: all linear 0.3s;
            pointer-events: none;

            @media (max-width: 1800px){
                width: 500px;
                background-position: 0 100%;
            }

            @media (max-width: 1600px){
                width: 400px;
                background-position: 0 100%;
            }

            @media (max-width: 768px){
                width: 250px;
            }
        }

        &:after{
            content: " ";
            display: block;
            background: url(../assets/images/floral_5.png) 0 0 no-repeat transparent;
            width: 757px;
            height: 758px;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 100;
            background-size: contain;
            transition: all linear 0.3s;
            pointer-events: none;

            @media (max-width: 1800px){
                width: 500px;
            }

            @media (max-width: 1600px){
                width: 400px;
            }

            @media (max-width: 768px){
                width: 250px;
            }
        }

        section{
            height: 100vh;
            width: 100%;
            /*
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            transform: translateY(100vh);
            transition: all var(--time-animation) ease-in-out;
            */
            z-index: 0;
            position: relative;

            .container{
                padding: 0 15px;
            }
        }

        #banner{
            position: relative;
            transition: var(--transition);

            .film{
                width: 100%;
                height: 100%;
                filter: invert(1);
                position: absolute;
                display: none; /* turned off */

                &:after{
                    position: absolute;
                    content: "";
                    width: 120%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    padding-left: 100px;
                    opacity: 0.5;
                    animation: film-scratch 0.45s steps(1) infinite;
                    background: repeating-linear-gradient(
                        90deg,
                        #0002 0 2px,
                        transparent 4px 37vmin
                    );
                }

                .effect {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    filter: invert(1);

                    &:after{
                        position: absolute;
                        content: "";
                        width: 120%;
                        height: 100%;
                        top: 0;
                        padding-left: 100px;
                        opacity: 0.5;
                        background: repeating-linear-gradient(
                            90deg,
                            #0002 0 2px,
                            transparent 4px 37vmin
                        );
                        left: 30%;
                        animation: effect-scratch 2s infinite;
                    }

                    .grain {
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        &:after{
                            position: absolute;
                            content: "";
                            width: 110%;
                            height: 110%;
                            top: -5%;
                            left: -5%;
                            opacity: 0.25;
                            background-image: repeating-conic-gradient(
                                var(--black) 0%,
                                transparent 0.00003%,
                                transparent 0.0005%,
                                transparent 0.00095%
                                ),
                                repeating-conic-gradient(
                                var(--black) 0%,
                                transparent 0.00005%,
                                transparent 0.00015%,
                                transparent 0.0009%
                                );
                            animation: grain 0.5s steps(1) infinite;
                            filter: drop-shadow(0px 0px 1px black);
                        }
                    }
                }
            }


            &:before{
                position: absolute;
                width: 100%;
                height: 100%;
                top:0;
                left:0;
                content: " ";
                background: url(../assets/images/AEC-57.jpg) no-repeat;
                background-size: cover;
                background-position: 50% 50%;
                opacity: 0.7;

                @media (max-width: 1024px){
                    background-position: 85% 50%;
                }

                @media (max-width: 767px){
                    background-position: 75% 50%;
                }
            }

            &.section{

                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #FFF;
                        font-size: 57px;
                        line-height: 1em;
                        text-shadow: 0px 0px 5px rgba(0,0,0,0.7);

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    h1{
                        font-family: 'Parisienne', cursive;
                        color: #FFF;
                        font-size: 100px;
                        line-height: 1em;
                        text-shadow: 0px 0px 10px rgba(0,0,0,0.7);

                        span{
                            font-family: 'Abhaya Libre', serif;
                            color: #eaba99;
                        }

                        @media (max-width: 1300px){
                            font-size: 60px;
                        }

                        @media (max-width: 768px){
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .date{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        .date_month{
                            font-family: 'Parisienne', cursive;
                            color: #FFF;
                            font-size: 60px;
                            line-height: 1em;
                            text-shadow: 0px 0px 5px rgba(0,0,0,0.7);

                            @media (max-width: 1300px){
                                font-size: 30px;
                            }
                        }

                        .date_daytime{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 35px;

                            @media (max-width: 1300px){
                                gap: 25px;
                            }

                            @media (max-width: 767px){
                                gap: 15px;
                            }

                            .date_daytime_col-1,
                            .date_daytime_col-3{
                                padding: 10px 20px;
                                border-top: 2px solid #eaba99;
                                border-bottom: 2px solid #eaba99;
                                font-family: 'Abhaya Libre', serif;
                                color: #FFF;
                                font-size: 23px;
                                line-height: 1em;
                                width: 150px;
                                text-align: center;
                                letter-spacing: 5px;
                                text-transform: uppercase;
                                text-shadow: 0px 0px 5px rgba(0,0,0,0.7);

                                @media (max-width: 1300px){
                                    font-size: 19px;
                                    width: 130px;
                                }

                                @media (max-width: 767px){
                                    font-size: 16px;
                                    width: 100px;
                                    padding: 10px;
                                    letter-spacing: 3px;
                                }
                            }

                            .date_daytime_col-2{
                                font-family: 'Abhaya Libre', serif;
                                color: #FFF;
                                font-size: 80px;
                                line-height: 1em;
                                letter-spacing: 5px;
                                text-shadow: 0px 0px 5px rgba(0,0,0,0.7);

                                @media (max-width: 1300px){
                                    font-size: 50px;
                                }
                            }
                        }

                        .date_year{
                            font-family: 'Abhaya Libre', serif;
                            color: #FFF;
                            font-size: 25px;
                            line-height: 1em;
                            letter-spacing: 5px;
                            text-shadow: 0px 0px 5px rgba(0,0,0,0.7);

                            @media (max-width: 1300px){
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        #location{


            &.section{
                height: auto;
                padding-top: 150px;
                padding-bottom: 50px;

                @media (max-width: 767px){
                    padding-top: 60px;
                    padding-bottom: 30px;
                }

                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 1300px){
                        gap: 30px;
                    }

                    @media (max-width: 767px){
                        gap: 20px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .map{
                        max-width: 500px;
                        width: 100%;
                        height: 300px;

                        @media (max-width: 1300px){
                            max-width: 300px;
                            height: 200px;
                        }

                        iframe{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .church{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;

                        .name{
                            font-family: 'Parisienne', cursive;
                            color: #623634;
                            font-size: 40px;
                            line-height: 1em;
                            text-align: center;

                            @media (max-width: 1300px){
                                font-size: 25px;
                            }

                            @media (max-width: 767px){
                                font-weight: 400;
                            }
                        }

                        .address{
                            font-family: 'Abhaya Libre', serif;
                            color: #623634;
                            font-size: 25px;
                            line-height: 1em;
                            letter-spacing: 3px;
                            padding: 10px 20px 0px;
                            border-top: 2px solid #eaba99;
                            text-align: center;

                            @media (max-width: 1300px){
                                font-size: 16px;
                            }
                        }
                    }

                    .btn{
                        a{
                            padding: 10px 20px;
                            font-family: 'Abhaya Libre', serif;
                            color: #623634;
                            font-size: 20px;
                            line-height: 1em;
                            letter-spacing: 3px;
                            padding: 10px 20px;
                            border: 2px solid #eaba99;
                            border-radius: 10px;
                            text-decoration: none;
                            transition: all linear 0.3s;
                            display: inline-block;

                            @media (max-width: 767px){
                                font-size: 16px;
                            }

                            &:hover{
                                border: 2px solid #623634;
                                background-color: #623634;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }

        #principalsponsors{

            &.section{
                height: auto;
                padding-top: 50px;
                padding-bottom: 50px;

                @media (max-width: 767px){
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                        padding-top: 0;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .name-list{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 50px;

                        @media (max-width: 1300px){
                            gap: 20px;
                        }

                        .name{
                            font-family: 'Abhaya Libre', serif;
                            color: #623634;
                            font-size: 25px;
                            line-height: 1em;
                            letter-spacing: 3px;
                            text-align: center;

                            @media (max-width: 1300px){
                                font-size: 20px;
                            }

                            @media (max-width: 767px){
                                font-size: 16px;
                                line-height: 22px;
                            }

                            span{
                                color: #eaba99;

                                @media (max-width: 767px){
                                    display: block;
                                    overflow: hidden;
                                    height: 0px;
                                }
                            }
                        }
                    }

                }
            }
        }

        #secondarysponsors{

            &.section{
                height: auto;
                padding-top: 50px;
                padding-bottom: 50px;

                @media (max-width: 767px){
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;
                        text-align: center;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .card-wrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 20px;
                        max-width: 1024px;
                        width: 100%;

                        @media (max-width: 767px){
                            flex-direction: column;
                        }

                        .card{
                            flex-basis: 33%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            h4{
                                font-family: 'Parisienne', cursive;
                                color: #eaba99;
                                font-size: 40px;
                                line-height: 1em;
                                padding: 10px 20px;
                                border-bottom: 2px solid #eaba99;
                                text-align: center;
                                margin-bottom: 30px;
                                display: inline-block;

                                @media (max-width: 1300px){
                                    font-size: 25px;
                                }

                                @media (max-width: 767px){
                                    font-size: 20px;
                                    margin-bottom: 15px;
                                }
                            }

                            .name{
                                font-family: 'Abhaya Libre', serif;
                                color: #623634;
                                font-size: 25px;
                                line-height: 1em;
                                letter-spacing: 3px;
                                text-align: center;
                                margin-bottom: 20px;

                                @media (max-width: 1300px){
                                    font-size: 20px;
                                }

                                @media (max-width: 767px){
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }

                }
            }
        }

        #entourage{

            &.section{
                height: auto;
                padding-top: 50px;
                padding-bottom: 20px;

                @media (max-width: 767px){
                    padding-top: 30px;
                    padding-bottom: 20px;
                }

                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;
                        text-align: center;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .card-wrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 50px;
                        max-width: 700px;
                        width: 100%;

                        @media (max-width: 767px){
                            flex-direction: column;
                            gap: 20px;
                        }

                        &.m2{
                            @media (max-width: 767px){
                                flex-direction: row;
                            }
                        }

                        .card{
                            flex-basis: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            h4{
                                font-family: 'Parisienne', cursive;
                                color: #eaba99;
                                font-size: 40px;
                                line-height: 1em;
                                padding: 10px 20px;
                                border-bottom: 2px solid #eaba99;
                                text-align: center;
                                margin-bottom: 30px;
                                display: inline-block;

                                @media (max-width: 1300px){
                                    font-size: 25px;
                                }

                                @media (max-width: 767px){
                                    font-size: 20px;
                                    margin-bottom: 15px;
                                    padding-left: 0;
                                    padding-right: 0;
                                }
                            }

                            .name{
                                font-family: 'Abhaya Libre', serif;
                                color: #623634;
                                font-size: 25px;
                                line-height: 1em;
                                letter-spacing: 3px;
                                text-align: center;
                                margin-bottom: 20px;

                                @media (max-width: 1300px){
                                    font-size: 20px;
                                }

                                @media (max-width: 767px){
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }

                }
            }
        }

        #kids{

            &.section{
                height: auto;
                padding-top: 0px;
                padding-bottom: 50px;

                @media (max-width: 767px){
                    padding-top: 0px;
                    padding-bottom: 30px;
                }

                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;
                        text-align: center;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .card-wrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 20px;
                        max-width: 700px;
                        width: 100%;

                        @media (max-width: 767px){
                            flex-direction: column;
                            align-items: center;
                        }

                        .card{
                            flex-basis: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            h4{
                                font-family: 'Parisienne', cursive;
                                color: #eaba99;
                                font-size: 40px;
                                line-height: 1em;
                                padding: 10px 20px;
                                border-bottom: 2px solid #eaba99;
                                text-align: center;
                                margin-bottom: 30px;
                                display: inline-block;

                                @media (max-width: 1300px){
                                    font-size: 25px;
                                }

                                @media (max-width: 767px){
                                    font-size: 20px;
                                    margin-bottom: 15px;
                                }
                            }

                            .name{
                                font-family: 'Abhaya Libre', serif;
                                color: #623634;
                                font-size: 25px;
                                line-height: 1em;
                                letter-spacing: 3px;
                                text-align: center;
                                margin-bottom: 20px;

                                @media (max-width: 1300px){
                                    font-size: 20px;
                                }

                                @media (max-width: 767px){
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }

                }
            }
        }

        #guides{

            &.section{
                height: auto;
                padding-top: 50px;
                padding-bottom: 50px;

                @media (max-width: 767px){
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;
                        text-align: center;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .card-wrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 20px;
                        max-width: 1300px;
                        width: 100%;

                        &.center{
                            justify-content: center;
                        }

                        @media (max-width: 767px){
                            flex-direction: column;
                            align-items: center;
                        }

                        .card{
                            flex-basis: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            h4{
                                font-family: 'Parisienne', cursive;
                                color: #eaba99;
                                font-size: 40px;
                                line-height: 1em;
                                padding: 10px 20px;
                                border-bottom: 2px solid #eaba99;
                                text-align: center;
                                margin-bottom: 30px;
                                display: inline-block;

                                @media (max-width: 1300px){
                                    font-size: 25px;
                                }

                                @media (max-width: 767px){
                                    font-size: 20px;
                                    margin-bottom: 15px;
                                }
                            }

                            .name{
                                font-family: 'Abhaya Libre', serif;
                                color: #623634;
                                font-size: 25px;
                                line-height: 1.3em;
                                letter-spacing: 3px;
                                text-align: center;
                                margin-bottom: 20px;

                                @media (max-width: 1300px){
                                    font-size: 20px;
                                }

                                @media (max-width: 767px){
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }
                            }

                            .theme-color{
                                display: flex;
                                flex-direction: row;
                                gap: 15px;
                                justify-content: center;
                                align-items: center;
                                margin-bottom: 20px;

                                @media (max-width: 767px){
                                    margin-bottom: 5px;
                                }

                                .tc-box{
                                    height: 30px;
                                    width: 40px;

                                    &.tc-1{
                                        background-color: #BA9976;
                                    }
                                    &.tc-2{
                                        background-color: #D1B48C;
                                    }
                                    &.tc-3{
                                        background-color: #E6D3B3;
                                    }
                                    &.tc-4{
                                        background-color: #987555;
                                    }
                                    &.tc-5{
                                        background-color: #664228;
                                    }
                                }
                            }

                            .img{
                                img{
                                    max-width: 200px;
                                }
                            }
                        }
                    }

                }
            }
        }

        #msg{

            &.section{
                height: 100vh;

                .fade-imgs{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: 3;
                    overflow: hidden;
                    opacity: 0.4;

                    .fade-img{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        animation: slide 25s infinite;
                        opacity: 0;

                        img{
                            width: 100vw;
                            height: 100vh;
                            object-fit: cover;
                            object-position: center;
                        }

                        &:nth-child(1){
                            animation-delay: 1s;

                            img{
                                @media (max-width: 767px){
                                    object-position: 70% 50%;
                                }
                            }
                        }

                        &:nth-child(2){
                            animation-delay: 5s;

                            img{
                                @media (max-width: 767px){
                                    object-position: 60% 50%;
                                }
                            }
                        }
                        &:nth-child(3){
                            animation-delay: 10s;

                            img{
                                @media (max-width: 767px){
                                    object-position: 35% 50%;
                                }
                            }
                        }
                        &:nth-child(4){
                            animation-delay: 15s;

                            img{
                                @media (max-width: 767px){
                                    object-position: 20% 50%;
                                }
                            }
                        }
                        &:nth-child(5){
                            animation-delay: 20s;

                            img{
                                @media (max-width: 767px){
                                    object-position: 50% 50%;
                                }
                            }
                        }
                        &:nth-child(6){
                            animation-delay: 25s;

                            img{
                                @media (max-width: 767px){
                                    object-position: 70% 50%;
                                }
                            }
                        }
                        &:nth-child(7){
                            animation-delay: 30s;

                            img{
                                @media (max-width: 767px){
                                    object-position: 48% 50%;
                                }
                            }
                        }
                    }

                    &:after{
                        position: absolute;
                        background-color: #EFE3DB;
                        content: " ";
                        display: block;
                        height: 100%;
                        width: 100%;
                        opacity: 0.2;
                        top: 0;
                        left: 0;
                    }
                }

                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;
                        text-align: center;

                        &.light{
                            text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
                            font-weight: 700;
                        }

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    h2{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 70px;
                        line-height: 1em;
                        text-align: center;

                        @media (max-width: 1300px){
                            font-size: 40px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                }
            }
        }

        #parents{

            &.section{
                height: auto;
                padding-top: 50px;
                padding-bottom: 50px;

                @media (max-width: 767px){
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;
                        text-align: center;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .card-wrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 20px;
                        max-width: 900px;
                        width: 100%;

                        @media (max-width: 767px){
                            flex-direction: column;
                            align-items: center;
                        }

                        .card{
                            flex-basis: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            h4{
                                font-family: 'Parisienne', cursive;
                                color: #eaba99;
                                font-size: 40px;
                                line-height: 1em;
                                padding: 10px 20px;
                                border-bottom: 2px solid #eaba99;
                                text-align: center;
                                margin-bottom: 30px;
                                display: inline-block;

                                @media (max-width: 1300px){
                                    font-size: 25px;
                                }

                                @media (max-width: 767px){
                                    font-size: 20px;
                                    margin-bottom: 15px;
                                }
                            }

                            .name{
                                font-family: 'Abhaya Libre', serif;
                                color: #623634;
                                font-size: 25px;
                                line-height: 1em;
                                letter-spacing: 3px;
                                text-align: center;
                                margin-bottom: 20px;

                                @media (max-width: 1300px){
                                    font-size: 20px;
                                }

                                @media (max-width: 767px){
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }

                }
            }
        }

    }
}