/*
font-family: 'Abhaya Libre', serif;
font-family: 'Parisienne', cursive;
*/

:root {
    --time-animation: 0.6s;
}

@keyframes pulse {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(25px);
    }
    100% {
      transform: translateY(0px);
    }
}

h1, h2, h3, h4, h5{
    padding: 0;
    margin: 0;
}

html {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

body{
    background: url(../assets/images/bg_water_color.jpg) 50% 50% no-repeat transparent;
    background-size: cover;
    font-family: 'Abhaya Libre', serif;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden scroll;
    -ms-overflow-style: none;

    #page{
        width: 100%;
        height: calc(100vh * 4);
        position: relative;

        section{
            height: 100vh;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            transform: translateY(100vh);
            transition: all var(--time-animation) ease-in-out;
            z-index: 0;
        }

        #banner{
            transform: translateY(0);
            z-index: 10;


            &:before{
                content: " ";
                display: block;
                background: url(../assets/images/floral_6.png) 0 0 no-repeat transparent;
                width: 814px;
                height: 653px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 5;
                background-size: contain;
                transition: all linear 0.3s;

                @media (max-width: 1600px){
                    width: 600px;
                    background-position: 0 100%;
                }

                @media (max-width: 768px){
                    width: 350px;
                }
            }

            &:after{
                content: " ";
                display: block;
                background: url(../assets/images/floral_5.png) 0 0 no-repeat transparent;
                width: 757px;
                height: 758px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 5;
                background-size: contain;
                transition: all linear 0.3s;

                @media (max-width: 1600px){
                    width: 400px;
                }

                @media (max-width: 768px){
                    width: 300px;
                }
            }

            &.section{
                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    h1{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 100px;
                        line-height: 1em;

                        span{
                            font-family: 'Abhaya Libre', serif;
                            color: #eaba99;
                        }

                        @media (max-width: 1300px){
                            font-size: 60px;
                        }

                        @media (max-width: 768px){
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .date{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        .date_month{
                            font-family: 'Parisienne', cursive;
                            color: #623634;
                            font-size: 60px;
                            line-height: 1em;

                            @media (max-width: 1300px){
                                font-size: 30px;
                            }
                        }

                        .date_daytime{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 35px;

                            @media (max-width: 1300px){
                                gap: 25px;
                            }

                            @media (max-width: 767px){
                                gap: 15px;
                            }

                            .date_daytime_col-1,
                            .date_daytime_col-3{
                                padding: 10px 20px;
                                border-top: 2px solid #eaba99;
                                border-bottom: 2px solid #eaba99;
                                font-family: 'Abhaya Libre', serif;
                                color: #623634;
                                font-size: 23px;
                                line-height: 1em;
                                width: 150px;
                                text-align: center;
                                letter-spacing: 5px;
                                text-transform: uppercase;

                                @media (max-width: 1300px){
                                    font-size: 19px;
                                    width: 130px;
                                }

                                @media (max-width: 767px){
                                    font-size: 16px;
                                    width: 100px;
                                    padding: 10px;
                                    letter-spacing: 3px;
                                }
                            }

                            .date_daytime_col-2{
                                font-family: 'Abhaya Libre', serif;
                                color: #623634;
                                font-size: 80px;
                                line-height: 1em;
                                letter-spacing: 5px;

                                @media (max-width: 1300px){
                                    font-size: 50px;
                                }
                            }
                        }

                        .date_year{
                            font-family: 'Abhaya Libre', serif;
                            color: #623634;
                            font-size: 25px;
                            line-height: 1em;
                            letter-spacing: 5px;

                            @media (max-width: 1300px){
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        #location{
            z-index: 9;

            &:before{
                content: " ";
                display: block;
                background: url(../assets/images/floral_6.png) 0 0 no-repeat transparent;
                width: 814px;
                height: 653px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                transform: scaleY(-1);
                background-size: contain;
                transition: all linear 0.3s;

                @media (max-width: 1600px){
                    width: 600px;
                    background-position: 0 100%;
                }

                @media (max-width: 768px){
                    width: 350px;
                }
            }

            &:after{
                content: " ";
                display: block;
                background: url(../assets/images/floral_7.png) 0 0 no-repeat transparent;
                width: 800px;
                height: 800px;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 5;
                transform: scaleX(-1);
                background-size: contain;
                transition: all linear 0.3s;

                @media (max-width: 1600px){
                    width: 600px;
                    background-position: 0 100%;
                }

                @media (max-width: 768px){
                    width: 350px;
                }
            }

            &.section{
                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 1300px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .map{
                        max-width: 500px;
                        width: 100%;
                        height: 300px;

                        @media (max-width: 1300px){
                            max-width: 300px;
                            height: 200px;
                        }

                        iframe{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .church{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;

                        .name{
                            font-family: 'Parisienne', cursive;
                            color: #623634;
                            font-size: 40px;
                            line-height: 1em;
                            text-align: center;

                            @media (max-width: 1300px){
                                font-size: 25px;
                            }

                            @media (max-width: 767px){
                                font-weight: 400;
                            }
                        }

                        .address{
                            font-family: 'Abhaya Libre', serif;
                            color: #623634;
                            font-size: 25px;
                            line-height: 1em;
                            letter-spacing: 3px;
                            padding: 10px 20px;
                            border-top: 2px solid #eaba99;
                            text-align: center;

                            @media (max-width: 1300px){
                                font-size: 16px;
                            }
                        }
                    }

                    .btn{
                        a{
                            padding: 10px 20px;
                            font-family: 'Abhaya Libre', serif;
                            color: #623634;
                            font-size: 20px;
                            line-height: 1em;
                            letter-spacing: 3px;
                            padding: 10px 20px;
                            border: 2px solid #eaba99;
                            border-radius: 10px;
                            text-decoration: none;
                            transition: all linear 0.3s;

                            &:hover{
                                border: 2px solid #623634;
                                background-color: #623634;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }

        #principalsponsors{
            z-index: 8;

            &:before{
                content: " ";
                display: block;
                background: url(../assets/images/floral_6.png) 0 0 no-repeat transparent;
                width: 814px;
                height: 653px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 5;
                background-size: contain;
                transition: all linear 0.3s;

                @media (max-width: 1600px){
                    width: 600px;
                    background-position: 0 100%;
                }

                @media (max-width: 768px){
                    width: 350px;
                }
            }

            &.section{
                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .name-list{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 50px;

                        @media (max-width: 1300px){
                            gap: 20px;
                        }

                        .name{
                            font-family: 'Abhaya Libre', serif;
                            color: #623634;
                            font-size: 25px;
                            line-height: 1em;
                            letter-spacing: 3px;
                            text-align: center;

                            @media (max-width: 1300px){
                                font-size: 20px;
                            }

                            span{
                                color: #eaba99;
                            }
                        }
                    }

                }
            }
        }

        #secondarysponsors{
            z-index: 7;

            &:before{
                content: " ";
                display: block;
                background: url(../assets/images/floral_6.png) 0 0 no-repeat transparent;
                width: 814px;
                height: 653px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                transform: scaleY(-1);
                background-size: contain;
                transition: all linear 0.3s;

                @media (max-width: 1600px){
                    width: 600px;
                    background-position: 0 100%;
                }

                @media (max-width: 768px){
                    width: 350px;
                }
            }

            &:after{
                content: " ";
                display: block;
                background: url(../assets/images/floral_7.png) 0 0 no-repeat transparent;
                width: 800px;
                height: 800px;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 5;
                transform: scaleX(-1);
                background-size: contain;
                transition: all linear 0.3s;

                @media (max-width: 1600px){
                    width: 600px;
                    background-position: 0 100%;
                }

                @media (max-width: 768px){
                    width: 350px;
                }
            }

            &.section{
                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;
                        text-align: center;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .card-wrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 20px;
                        max-width: 1024px;
                        width: 100%;

                        .card{
                            flex-basis: 33%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            h4{
                                font-family: 'Parisienne', cursive;
                                color: #eaba99;
                                font-size: 40px;
                                line-height: 1em;
                                padding: 10px 20px;
                                border-bottom: 2px solid #eaba99;
                                text-align: center;
                                margin-bottom: 30px;
                                display: inline-block;
                            }

                            .name{
                                font-family: 'Abhaya Libre', serif;
                                color: #623634;
                                font-size: 25px;
                                line-height: 1em;
                                letter-spacing: 3px;
                                text-align: center;
                                margin-bottom: 20px;
                            }
                        }
                    }

                }
            }
        }

        #entourage{
            z-index: 6;

            &:after{
                content: " ";
                display: block;
                background: url(../assets/images/floral_5.png) 0 0 no-repeat transparent;
                width: 757px;
                height: 758px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 5;
                background-size: contain;
                transition: all linear 0.3s;

                @media (max-width: 1600px){
                    width: 400px;
                }

                @media (max-width: 768px){
                    width: 300px;
                }
            }

            &.section{
                .container{
                    position: relative;
                    z-index: 10;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    @media (max-width: 767px){
                        gap: 30px;
                    }

                    h3{
                        font-family: 'Parisienne', cursive;
                        color: #623634;
                        font-size: 57px;
                        line-height: 1em;
                        text-align: center;

                        @media (max-width: 1300px){
                            font-size: 30px;
                        }

                        @media (max-width: 767px){
                            font-weight: 400;
                        }
                    }

                    .card-wrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 50px;
                        max-width: 1024px;
                        width: 100%;

                        .card{
                            flex-basis: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            h4{
                                font-family: 'Parisienne', cursive;
                                color: #eaba99;
                                font-size: 40px;
                                line-height: 1em;
                                padding: 10px 20px;
                                border-bottom: 2px solid #eaba99;
                                text-align: center;
                                margin-bottom: 30px;
                                display: inline-block;
                            }

                            .name{
                                font-family: 'Abhaya Libre', serif;
                                color: #623634;
                                font-size: 25px;
                                line-height: 1em;
                                letter-spacing: 3px;
                                text-align: center;
                                margin-bottom: 20px;
                            }
                        }
                    }

                }
            }
        }



    }
}